<!doctype html>
<html>
  <head>
    <title>Voice synthesizer</title>
  </head>
  <body>
    <header>
      <h1>Voice synthesizer</h1>
    </header>
    <form class="input" id="voice-form" method="post">
                <div class="field">
                    <label for="speech">Type Something</label>
                    <input type="text" name="speech" id="speech" required />
                </div>
                <div class="field">
                    <label for="voices">Choose a Voice Assistant</label>
                      <select name="voices" id="voices">
                          <option value="Tina">Tina</option>
                          <option value="Rob">Rob</option>
                          <option value="Vishnu">Vishnu</option>

                      </select>
                </div>
                <button>Say it!</button>
    </form>

    <audio controls>
      <source src="http://127.0.0.1:5000/static/please.mp3" type="audio/mpeg">
    </audio> 

  <!--  <script>
      function play() {
        var audio = document.getElementById("audio");
        audio.play();
      }
    </script>

    <input type="button" value="PLAY" onclick="play()">
    <audio id="audio" src="http://127.0.0.1:5000/static/please.mp3"></audio>
    -->

  </body>
</html>
